<!DOCTYPE html>
<html>
    <head>
        <title>BREAKTIME - Login</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/entry.css" />
    </head>
    <body>
        <center>
          <div id = "content" align = "center">
            <img src = "../images/logo.png" style = "width:500px"><br>
            <h2>LOGIN</h2>
            <form action = "/home">
                Username: <input type="email" placeholder="Email">
                <br>

                Password: <input type="password" placeholder="Password">
                </br>
                </br>
                <input id= "submit" class = "btn btn-default btn-xlarge" type = "submit" value = "Submit">
            </form>
            </br>
            </br>
            Don't have an account? <a href="register">Click</a> to register.
            <div id = "bottomspace"></div>
          </div>
        </center>
      </body>
</html>
