<!DOCTYPE html>
<head>
	<title>BREAKTIME - Register</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/entry.css" />
</head>
<body>
	<center>
		<div id = "content" align = "center"> 
			<img src = "../images/logo.png" style = "width:500px"><br><br>
			<div style = "background-color:#ffffff; padding:30px; border-radius: 20px; opacity: 0.8">
				<h2>REGISTER</h2>
				<form align = "justify">
					<div id = "formtop" class = "form-group">
						<label for = "emailfield">Email address: </label><br>
						<input id = "emailfield" type = "email" class = "form-control" placeholder="Email"></input>
						<label for = "passwordfield">Password: </label><br>
						<input id = "passwordfield" type = "password" class = "form-control" placeholder="Password"></input>
						<label for = "verifypasswordfield">Verify Password: </label><br>
						<input id = "verifypasswordfield" type = "password" class = "form-control" placeholder="Verify Password"></input>
						<br>
						<label for = "timerinterval">Break Interval:</label><br>
						<div class="btn-group">
							<button class="btn btn-default btn-lg dropdown-toggle" id = "timerbutton" type="button" data-toggle="dropdown" aria-expanded="false">
								Select Break Interval <span class="caret"></span>
							</button>

							<ul class="dropdown-menu" id = "timerinterval" role="menu">
								<li><a href = "#">20 min</a></li>
								<li><a href = "#">30 min</a></li>
								<li><a href = "#">40 min</a></li>
								<li><a href = "#">50 min</a></li>
								<li><a href = "#">60 min</a></li>
							</ul>
						</div>
						<!--<select>
							<option value="interval">Choose Interval</option>
							<option value="1">20 min</option>
							<option value="2">30 min</option>
							<option value="3">40 min</option>
							<option value="4">50 min</option>
							<option value="5">60 min</option>
						</select>-->
					</div>
					<br>
		<!--Work from 
		<select>
		<option value="Begin work hours">Hour</option>
		<option value="1">1</option>
		<option value="2">2 </option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		</select>
		:
		<input type="minutes" placeholder="Min" size = "3">
		<select>
		<option value="AM">AM</option>
		<option value="PM">PM</option>

		</select>
		to 

		<select>
		<option value="End work hours">Hour</option>
		<option value="1">1</option>
		<option value="2">2 </option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		</select>
		:
		<input type="minutes" placeholder="Min" size = "3">
		<select>
		<option value="AM">AM</option>
		<option value="PM">PM</option>

		</select>-->
					
				<center>
					<input id= "back" class = "btn btn-default btn-xlarge" type = "button" value = "Back" onClick="history.go(-1);return true;">
					<input id= "next" class = "btn btn-default btn-xlarge" type = "submit" value = "Next" onClick="location.href = 'home'">
				</center>
				</form>
				<br>
			</div>

			
		</div>
		<div id = "bottomspace"></div>
	</center>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src = "js/bootstrap.min.js"></script>
	<script type = "text/javascript">
		$('#timerinterval li a').click(function(e) {
			e.preventDefault();
			var value = $(this).text();
			$('#timerbutton').text(value);
		});
	</script>
</body>